---
import Default from '@layouts/Default.astro'
import { getCollection } from 'astro:content'
import FeaturedProject from '@components/FeaturedProject.astro'
import MinecraftMod from '@components/MinecraftMod.astro'

const featuredProjects = await getCollection('featuredProject')
const minecraftMods = await getCollection('minecraftMod')
---

<Default title="Projects">
    <div class="container-lg my-36 space-y-32">
        <div class="space-y-12">
            <h1 class="text-5xl">Featured Projects</h1>

            <div>
                {featuredProjects.map(({ id, data }) => <FeaturedProject name={id} {...data} />)}
            </div>
        </div>

        <div class="space-y-12">
            <h1 class="text-5xl">Minecraft Mods</h1>

            <div class="gap-8 grid grid-cols-1 lg:grid-cols-2">
                {minecraftMods.map(({ id, data }) => <MinecraftMod name={id} {...data} />)}
            </div>
        </div>
    </div>
</Default>
