---
import Link from './base/Link.astro'
---

<div class="container-lg min-h-lg flex flex-row items-center gap-48">
    <div class="w-full h-full text-5xl">
        &OpenCurlyDoubleQuote;Dreaming up cool ideas and making them come true is where my passion
        lies&CloseCurlyDoubleQuote;
    </div>
    <div class="space-y-2xl w-full h-full">
        <p class="text-xl">
            I am a Software Engineer from Vietnam and a founder of
            <Link to="https://qwiksilverlabs.com" external class="link text-default">Qwiksilver Labs</Link>. I am
            enthusiastic about exploring new technologies and turning ideas into reality through polished, thoughtfully
            crafted personal <Link to="/projects" class="link text-default">projects</Link>.
        </p>
        <p class="text-xl">
            I write blog posts about coding, gaming and anything that I find interesting. Occasionally, I do live coding
            streams on YouTube.
        </p>
    </div>
</div>
