---
import Link from './base/Link.astro'
---

<footer class="container-lg py-5 flex items-center justify-between">
    <div class="">
        <p class="text-muted text-center">
            <a href="https://github.com/tobynguyen27/tobynguyen.net/blob/main/LICENSE" class="link" target="_blank"
                >MIT</a
            >
            2025-PRESENT © Toby Nguyen
        </p>
    </div>
    <div class="flex flex-row gap-5 items-center justify-center">
        <Link to="https://github.com/tobynguyen27" external aria-label="GitHub">
            <i class="i-carbon-logo-github text-muted hover:text-default"></i>
        </Link>
        <Link to="https://x.com/iamtobynguyen" external aria-label="X">
            <i class="i-carbon-logo-x text-muted hover:text-default"></i>
        </Link>
    </div>
</footer>
