---
import Logo from './Logo.astro'
import ThemeToggle from './ThemeToggle.astro'

type NavbarItem = {
    path: string
    name: string
    icon: string
    iconOnly?: boolean
}

const items: NavbarItem[] = [
    { path: '/', name: 'Home', icon: 'i-lucide-house' },
    { path: '/blog', name: 'Blog', icon: 'i-ri-article-line' },
    { path: '/projects', name: 'Projects', icon: 'i-lucide-box' },
    { path: '/feed.xml', name: 'RSS', icon: 'i-lucide-rss', iconOnly: true },
]

const currentPath = `/${Astro.url.pathname.split('/')[1]}`
---

<header class="bg-base w-full top-0 fixed z-10" border-b="~ default">
    <nav class="container-lg py-5 gap-3 items-center justify-between flex flex-col sm:flex-row">
        <a href="/" aria-label="Home"><Logo /></a>
        <ul class="gap-8 items-center flex flex-row">
            {
                items.map(({ path, name, icon, iconOnly = false }) => {
                    const isActive = currentPath === path
                    return (
                        <li>
                            <a
                                href={path}
                                aria-label={name}
                                class:list={[
                                    'sm:text-inherit',
                                    isActive ? 'text-default' : 'text-muted hover:text-default',
                                    !iconOnly && 'sm:uppercase',
                                    !iconOnly && (isActive ? 'sm:line-through' : 'sm:hover:line-through'),
                                ]}
                            >
                                <i class:list={[icon, !iconOnly && 'sm:hidden']} />
                                {!iconOnly && <span class="hidden sm:inline">{name}</span>}
                            </a>
                        </li>
                    )
                })
            }
            <li><ThemeToggle /></li>
        </ul>
    </nav>
</header>
